.opcaoEntrada{
    max-width: 980px;
    width: 100%;
    margin: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}
.entradaManual{
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 2px;
    background: #3583aa;
}
.entradaManual a{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
.entradaManual a i{
    font-size: 1.6rem;
    margin-left: 10px;
    color: #fff;
}
.entradaManual a span{
    color: #fff;
    margin-left: 20px;
    padding-left: 5px;
}
.entradaBarras{
    height: 80px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
    background: #3583aa;
}
.entradaBarras a{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 10px 0;
}
.entradaBarras a i{
    font-size: 1.6rem;
    margin-left: 10px;;
    color: #fff;
}
.entradaBarras a span{
    color: #fff;
    margin-left: 15px;
    padding-left: 5px;
}
.entradaBarras:hover{
    background: #2b6b8b;
    cursor: pointer;
    box-shadow: 0px 0 8px 1px #3583aa;
    transition: 300ms;
}
.entradaManual:hover{
    background: #2b6b8b;
    cursor: pointer;
    box-shadow: 0px 0 8px 1px #3583aa;
    transition: 300ms;
}


@media(max-width: 1360px){
    .opcaoEntrada{
        max-width: 720px;
    }
}
@media(max-width: 980px){
    .opcaoEntrada{
        max-width: 640px;
    }
    .entradaManual{
        width: 200px;
        height: 70px;
    }
    .entradaBarras{
        width: 200px;
        height: 70px;
    }
    .entradaManual a span{
        font-size: .9rem;
    }
    .entradaBarras a span{
        font-size: .9rem;
    }
}
@media(max-width: 640px){
    .opcaoEntrada{
        flex-direction: column;
    }
    .opcaoEntrada{
        max-width: 480px;
        margin-top: 50px;
    }
    .entradaManual{
        width: 300px;
        height: 70px;
    }
    .entradaBarras{
        width: 300px;
        height: 70px;
    }
    .entradaManual a span{
        font-size: .9rem;
    }
    .entradaBarras a span{
        font-size: .9rem;
    }
    .entradaManual a i{
        margin-left: 50px;
    }
    .entradaBarras a i{
        margin-left: 50px;
    }
}
@media(max-width: 350px){
    .entradaManual{
        width: 240px;
        height: 70px;
    }
    .entradaBarras{
        width: 240px;
        height: 70px;
    }
    .entradaManual a i{
        margin-left: 30px;
    }
    .entradaBarras a i{
        margin-left: 30px;
    }
}

