* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html, body {
    height: 100vh;
    background: #f2f3f5;
}

.containers {
    height: 100vh;
    background: #f2f3f5;
}

.header {
    height: 190px;
    background: #039be5;
}

#dados {
    width: 100%;
    max-width: 980px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    background: #039be5;
    padding: 10px;
    align-items: center;
}

#dados > span {
    font-size: 1.1rem;
    font-family: 'Poppins';
    margin-right: 20px;
    padding: 5px;
    color: #fff;
}

#dados > a {
    background: #e83f5b;
    color: #fff;
    padding: 8px;
    font-size: 1.1rem;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    text-decoration: none;
    border-radius: 2px;
    font-weight: 500;
}

#dados > a:hover {
    background: #aa2d42;
    transition: 200ms;
}

section {
    max-width: 980px;
    width: 100%;
    margin: -70px auto 0px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.568);
}

.info {
    max-width: 980px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #b4b5b8;
}

.info > h2 {
    font-size: 1.8rem;
    font-weight: 350;
}

table {
    max-width: 980px;
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 1rem;
    
}

table thead tr {
    background: #1D495E;
    color: #fff;
    text-align: left;
}

table td, th {
    padding: 12px 15px;
    font-weight: 400;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f2f3f5;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #1D495E;
}

#btnEdit {
    width: 100%;
    height: 35px;
    background-color: #1A8FC9;
    border-radius: 2px;
    color: #fff;
    font-size: 0.9rem;
    padding: 0 10px;
}

#btnEdit:hover {
    cursor: pointer;
    background: #11658f;
    transition: 300ms;
}

#btn {
    max-width: 980px;
    width: 100%;
    margin: 50px auto 0;
}

#btn1 {
    height: 50px;
    width: 200px;
    background: #40b423;
    font-size: 1.1rem;
    color: #fff;
}

#btn1:hover {
    cursor: pointer;
    background: #308a19;
    transition: 300ms;
}

#btn2 {
    height: 50px;
    width: 200px;
    background: #e83f5b;
    font-size: 1.1rem;
    color: #fff;
}

#btn2:hover {
    cursor: pointer;
    background: #aa2d42;
    transition: 300ms;
}

@media(max-width: 980px) {
    #dados {
        max-width: 850px;
        width: 95%;
    }
    #dados > span {
        font-size: 1rem;
        padding: 4px;
    }
    #dados > a {
        font-size: 1rem;
    }
    section {
        max-width: 850px;
    }
    table thead tr {
        max-width: 850px;
        width: 100%;
        margin: auto;
        font-family: 1.1rem;
    }
    #btnEdit {
        font-size: 0.8rem;
    }
    #btn {
        max-width: 850px;
    }
    #btn > button {
        font-size: 1rem;
    }
}

@media(max-width: 850px) {
    #dados {
        max-width: 720px;
        width: 95%;
    }
    #dados > span {
        font-size: 1rem;
        padding: 4px;
    }
    #dados > a {
        font-size: 1rem;
    }
    section {
        max-width: 720px;
    }
    table thead tr {
        max-width: 720px;
        width: 100%;
        font-size: 1rem;
    }
    td {
        font-size: 0.9rem;
    }
    #btnEdit {
        font-size: 0.7rem;
    }
    #btn {
        max-width: 720px;
        display: flex;
        justify-content: space-between;
    }
    #btn > button {
        font-size: 0.9rem;
    }
}

@media(max-width: 720px) {
    #dados {
        max-width: 540px;
        width: 95%;
    }
    #dados > span {
        font-size: 1rem;
        padding: 4px;
    }
    #dados > a {
        font-size: 1rem;
    }
    section {
        max-width: 540px;
        width: 100%;
    }
    table thead tr {
        max-width: 540px;
        width: 95%;
        font-size: 0.8rem;
    }
    td {
        font-size: 0.8rem;
    }
    #btn {
        max-width: 540px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 20px auto 0;
    }
    #btn > button {
        width: 100%;
        font-size: 0.9rem;
        margin-top: 10px;
    }
}

@media(max-width: 540px) {
    #dados {
        max-width: 400px;
        width: 95%;
    }
    #dados > span {
        font-size: 0.9rem;
        padding: 4px;
    }
    #dados > a {
        font-size: 0.9rem;
    }
    section {
        max-width: 390px;
        width: 95%;
    }
    table thead tr {
        max-width: 390px;
        width: 95%;
        font-size: 0.5rem;
    }
    td {
        font-size: 0.4rem;
    }
    #btnEdit {
        font-size: 0.4rem;
        height: 25px;
    }
    #btn {
        max-width: 390px;
        width: 95%;
    }
    #btn > button {
        font-size: 0.8rem;
    }
}