*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    list-style: none;
}
html, body{
    width: 100vw;
    height: 100vh;
}
body {
    display: flex;
}
.contentSidebar{
    height: 100vh;
    width: 400px;
    background: #235670;
    transition: 300ms;
}
.sidebar {
    height: 100vh;
    width: 400px;
    background: #235670;
    transition: 300ms;
}
.sidebar-marca {
    padding: 5px 13px 10px;
}
.sidebar-marca h1 {
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
    color: #fff;
}
.sidebar-marca h1 i{
    margin-right: 4px;
}
.sidebar-menu {
    margin-top: 30px;
}
.sidebar-menu ul {
    margin-left: -30px;
}
.sidebar ul li {
    display: flex;
    align-items: center;
    height: 60px;
    margin-top: 10px ;
}
.sidebar ul li a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.sidebar ul li a:hover {
    background: #fff;
    transition: 100ms;
    color: #235670;
}
.sidebar ul li span{
    padding-left: 15px;
}
.sidebar ul li span:last-child{
    margin-left: 8px;
    font-size: 1rem;
}
.sidebar ul li a{
    color: #fff;
}

.main-content {
    height: 100vh;
    width: 100vw;
    background: #fcfcfc;
}

.main-content header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    height: 4rem;
    padding: 0 10px;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.2);
}
.main-content header h1 label {
    margin-left: 1rem;
    color: #235670;
}
.user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.user i {
    margin-right: 10px;
}
.user div h4 {
    font-size: .9rem;
    font-weight: 300;
    margin-right: 10px;
}
#inputActive {
    display: none;
}
#inputActive:checked + .contentSidebar, 
#inputActive:checked + .sidebar{
    width: 80px;
    transition: 300ms;
}
#inputActive:checked + .contentSidebar > .sidebar .sidebar-marca h1 span,
#inputActive:checked + .contentSidebar > .sidebar .sidebar-menu ul li a span:last-child{
    display: none;
}

@media(max-width: 1360px){
    #inputActive:checked + .sidebar h1 i{
        margin-left: 3px;
    }
    .sidebar-marca h1{
        font-size: 1.8rem;
        margin-top: 10px;
        align-items: center;
    }
    .sidebar-marca h1 i{
        font-size: 2.5rem;
    }
    .sidebar-marca h1 span {
        margin-left: 20px;
    }
    .sidebar{
        width: 350px;
    }
    #inputActive:checked + .sidebar ul li a{
        margin-left: 7px;
    }
    .sidebar ul li a{
        margin-left: 0;
    }
    .sidebar ul li span{
        font-size: 1.5rem;
    }
    .sidebar ul li span:last-child{
        font-size: 0.9rem;
    }
    .main-content header h1 label{
        font-size: 1.5rem;
    }
}
@media(max-width: 720px){
    .sidebar{
        width: 80px;
        transition: 1ms;
    }
    .sidebar-marca h1{
        margin-left: 8px;
    }
    .sidebar-marca h1 i{
        font-size: 2rem;
    }
    .sidebar-marca h1 span{
        display: none;
    }
    .sidebar ul li span{
        font-size: 1.5rem;
    }
    .sidebar ul li span:last-child{
        display: none;
    }
    .main-content header h1 label{
        display: none;
    }
    
}   
@media(max-width: 610px){
    body{
        flex-direction: column;
    }
    .contentSidebar{
        height: 45px;
        width: 100% !important;
        background: #235670;
    }
    .sidebar{
        height: 45px;
        max-width: 400px;
        width: 100% !important;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .sidebar-marca{
        padding: 5px 0;
    }
    .sidebar-marca h1{
        margin: 0;
    }
    .sidebar-marca h1 i{
        margin-right: 0;
    }
    .sidebar-menu{
        margin: 0;
        align-items: center;
    }
    .sidebar-menu ul{
        display: flex;
    }
    .sidebar ul li{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    .sidebar ul li span{
        padding: 0 15px;
    }
    .main-content header{
        display: none;
    }
    .sidebar ul li{
        height: 44px;
    }
} 
@media(max-width: 430px){
    .sidebar{
        max-width: 350px;
    }
    .sidebar-marca{
        margin-left: 10px;
    }
    .sidebar-marca h1{
        font-size: 1.4rem;
    }
    .sidebar ul li span{
        font-size: 1rem;
    }
    .sidebar ul li{
        margin-top: 2px;
    }
    .container-cards{
        max-width: 350px;
    }
}
@media(max-width: 350px){
    .sidebar{
        max-width: 280px;
    }
    .sidebar-marca{
        margin-left: 0;
    }
    .container-cards{
        max-width: 280px;
    }
    .cards{
        max-width: 250px;
    }
}