/* CARDS*/
.container-cards{
    margin: 2rem 2rem;
}
.cards{
    display: flex;
    align-items: center;
}
.cards > div:nth-child(2){
    margin-left: 2.5rem;
}
.cards > div:nth-child(3){
    margin-left: 2.5rem;
}
.cards > div:nth-child(4){
    margin-left: 2.5rem;
}
.total-estoque{
    height: 9rem;
    display: flex;
    background: #fff;
    border-radius: 4px;
    padding: 1rem;
}
.total-estoque-itens{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.total-estoque-itens span:first-child{
    font-size: 2.5rem;
    font-weight: 500;
}
.total-estoque-itens span:last-child{
    font-size: 1rem;
    color: gray;
}
.icon-estoque{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: #235670;
}
.estoque-baixo{
    height: 9rem;
    display: flex;
    background: #fff;
    border-radius: 4px;
    padding: 1rem;
}
.icon-estoque-alert{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: rgb(206, 37, 37); 
}

section {
    width: 1360px;
    margin: 0 2rem;
    background: #fff;
}

.contentInfo {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


 /*Responsividade*/

 @media(max-width: 1360px){
     .total-estoque {
        height: 7rem;
        padding: .3rem;
     }
    .total-estoque-itens span:first-child{
        font-size: 1.5rem;
    }
    .total-estoque-itens span:last-child{
        font-size: .8rem
    }
    .icon-estoque{
        font-size: .8rem;
        margin: 0;
    }
    .estoque-baixo {
        height: 7rem;
        padding: .3rem;
    }
    .icon-estoque-alert{
        font-size: .8rem;
        margin: 0;
    }
 }
 @media(max-width: 610px){
    .total-estoque-itens span:first-child{
        font-size: 1.5rem;
    }
    .container-cards{
        max-width: 30rem;
    }
    .cards{
        max-width: 19rem;
    }
 }
 @media(max-width: 430px){
    .container-cards{
        max-width: 21.5rem;
    }
    .cards{
        max-width: 15.5rem;
    }
    .total-estoque-itens span:first-child{
        margin-top: 1rem;
    }
    .icon-estoque{
        margin-top: 2rem;
    }
    .icon-estoque-alert{
        margin-top: 2rem;
    }
 }
