* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #f2f3f5;
}

.header {
    height: 190px;
    background: #039be5;
    display: flex;
    align-items: center;
}

.section {
    max-width: 980px;
    width: 100%;
    height: 400px;
    margin: -70px auto 0px;
    border: 1px solid #fff;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.568);
}

#title {
    border-bottom: 1px solid #b4b5b8;
}

form > div > h2 {
    font-size: 1.7rem;
    font-weight: 300;
    padding: 10px;
}

.containerForm {
    display: flex;
    height: 340px;
}

.content1 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.ref {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.marca {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.content2 {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
}

.descricao {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.qntd-estoque {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form > div > div > div > label {
    font-size: 1rem;
}

.ref > input {
    height: 35px;
    width: 200px;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 3px;
}

.ref > input:focus {
    border: 2px solid #025f8d;
    outline: #025f8d;
}

.marca > input {
    height: 35px;
    width: 200px;
    border: 1px solid;
    border-radius: 3px;
}

.marca > input:focus {
    border: 2px solid #025f8d;
    outline: #025f8d;
}

.descricao textarea {
    border: 1px solid;
    width: 300px;
    border-radius: 3px;
}

.descricao > textarea:focus {
    border: 2px solid #025f8d;
    outline: #025f8d;
}

.qntd-estoque > input {
    height: 35px;
    width: 90px;
    border: 1px solid;
    border-radius: 4px;
}

.qntd-estoque > input:focus {
    border: 2px solid #025f8d;
    outline: #025f8d;
}

button {
    margin-top: 30px;
}

#btn1 {
    height: 50px;
    width: 200px;
    background: #40b423;
    font-size: 1.1rem;
    color: #fff;
}

#btn1:hover {
    cursor: pointer;
    background: #308a19;
    transition: 300ms;
}

#btn2 {
    height: 50px;
    width: 200px;
    background: #e83f5b;
    font-size: 1.1rem;
    color: #fff;
    margin-left: 20px;
}

#btn2:hover {
    cursor: pointer;
    background: #aa2d42;
    transition: 300ms;
}

@media(max-width: 980px) {
    .section {
        max-width: 720px;
    }
}

@media(max-width: 720px) {
    .section {
        max-width: 520px;
        width: 90%;
        height: 350px;
    }

    #btn1 {
        width: 100%;
        margin: 30px auto 0;
        font-size: 1rem;
    }
    #btn2 {
        width: 100%;
        margin: auto;
        margin-top: 10px;
        font-size: 1rem;
    }
    .descricao textarea {
        width: 200px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    .containerForm {
        height: 300px;
    }
}


