* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #014466;
    height: 100vh;
}

form {
    background: #014466;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#iconLogin i{
    font-size: 4.5rem;
    color: #fff;
    margin-right: 0.625rem;
}

#iconLogin span{
    font-size: 3rem;
    color: #fff;
}


.contLogin {
    width: 21.875rem;
    height: 21.875rem;
    background: #fff;
    border-radius: 0.188rem;
    padding: 1.875rem;
}

.contentLogin {
    display: flex;
    flex-direction: column;
    height: 14rem;
}

.contentLogin > label {
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: #204F66;
    margin-bottom: 0.313rem;
}

.contentLogin > input {
    height: 3.125rem;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #204F66;
    font-size: .9rem;
    padding-left: .8rem;
}
.button {
    display: flex;
    justify-content: center;
}

.button > button {
    width: 100%;
    height: 3.125rem;
    background: #48B4EA;
    color: #FFF;
    font-size: 1rem;
    font-family: 'Poppins';
    transition: 400ms;
    border-radius: 0.313rem;
}

.button > button:hover {
    cursor: pointer;
    background: #014466;
}